client/.classpath
client/.project
client/.settings/
integration-tests/.classpath
integration-tests/.project
integration-tests/.settings/
target/
*/pymager.log
integration-stress-tests/.classpath
integration-stress-tests/.settings
integration-stress-tests/bin/
